.App {
  text-align: center;
  background-color: #282c34;
  justify-content: center;
}

.Container{
  background: white;
}
.App-header {
  min-height: 4vh;
  display: flex;
  flex-direction: column;
  font-size: calc(5px + 2vmin);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  text-align: right;
  color: white;
  letter-spacing: 1px !important;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 5px;
  margin-left: auto;
}

.App-link {
  color: #61dafb;
}

.App-brand{
  text-align: center;
  font-weight: 600;
  font-family: Oswald !important;
  text-transform: uppercase !important;
}

.logo{
  width: 40px;
  margin-left: 20px;
}

.input-file{
  display: none;
}

.titulo-h1{
  text-align: center;
  padding-top: 100px;
  font-family: Oswald !important;
  font-weight: bold;
  font-size: 20px !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
}

.texto-centrado-h2{
  text-align: center;
  font-family: Oswald !important;
  padding-bottom: 20px;
}

.texto-centrado{
  text-align: center;
  font-family: Oswald !important;
}

.texto-izq{
  font-weight: bold;
  float:left;

}

.span-brand{
  font-family: Oswald !important;
  font-size: 12px !important;
}

/*.row{
  float: left;
  padding: 60px;
  background: chartreuse;
  width: 100%;
  margin:0%;
}*/

.col {
  background: #6495ed;
  border: cyan;
  padding: 10px;
  border-style: solid;
  border-radius: 2px;
  border-width: thin;

}

.col-1{
  background:green;
}

.seccion{
  display: flex;
}

.img-R {
  max-width: 300px;
  min-height:200px;
  max-height: 200px;
  
}

.divFiles-in-R{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}

.divFiles{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.divFiles-in-R-div {
  padding: 10px;

}

.divFiles-in{
  display: flex;
  flex-direction: column;
}

.btn-css{
  width: 150px;

}

.upload-file{
  text-align: center;
  display: inline-block;
  padding: 20px;


}

@media only screen and (min-width: 576px) {
  .App-header {
    max-width: 540px;
  }

}
@media only screen and (min-width: 768px) {
  .App-header {
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  .App-header {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .App-header {
    max-width: 1140px;
  }
}


/*Eventos*/
#mitoast, #mitoastEliminado, #mitoastEnviado, #mitoastRegistrado, #mitoastUserEliminado, 
#mitoastLoginOn, #mitoastLoginWrong{
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 40%;
  top: 5%;
  border-color: #28a745;
  color: #ffff;
  padding: .20rem .2rem;
  border-radius: .40rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
  max-width: 310px;
  margin: 2%;
  width: 250px;
  background-color: #28a745;
  letter-spacing: 1px !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  opacity: 1;
}

#mitoastLoginWrong{
  border-color: #a72839;
  background-color: #28a745;
}

#mitoast.mostrar, #mitoastEliminado.mostrar, #mitoastEnviado.mostrar, 
#mitoastRegistrado.mostrar, #mitoastUserEliminado.mostrar, #mitoastLoginOn.mostrar, #mitoastLoginWrong.mostrar{
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4.6s;
  animation: fadein 0.5s, fadeout 0.5s 4.6s;
  z-index: 100;
}

 
@-webkit-keyframes fadein {
  from {right: 0; opacity: 0;} 
  to {right: 2.5%; opacity: 1;}
}
 
@keyframes fadein {
  from {right: 0; opacity: 0;}
  to {right: 2.5%; opacity: 1;}
}
 
@-webkit-keyframes fadeout {
  from {right: 2.5%; opacity: 1;} 
  to {right: 0; opacity: 0;}
}
 
@keyframes fadeout {
  from {right: 2.5%; opacity: 1;}
  to {right: 0; opacity: 0;}
}

//LOGIN
//Login Main Container
.App-login {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.login {
  width: 27em;
  height: 40em;
  //min-height: 44em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  position: relative;
  z-index: 99;
  .containerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: 100%;
    height: 100%;
    z-index: 99;
    padding: 17px 10px;
    //transition: transform 200ms ease-in-out;
  }
  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    background-color: #3498db;
    width: 100%;
    position: absolute;
    right: -34%;
    border-radius: 6px;
    z-index: 1;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);

    &.right {
      right: -40%;
      align-items: flex-end;
      &:hover {
        right: -45%;
      }
    }
    &.left {
      right: 40%;
      align-items: flex-start;
      &:hover {
        right: 45%;
      }
    }

    .text {
      font-size: 21px;
      font-weight: 500;
      color: #fff;
      margin-right: 3em;
      margin-left: 3em;
    }
  }
}

.btnReiniciarU {
  color: #3498db;
  background-color: #fff;
  border-radius: 3px;
  border: 0;
  text-decoration: underline;
  padding: 1%;
  font-size: 14px;
  &:hover {
    color: #166499;
  }

}

//Button
.btnLogin {
  font-size: 15px;
  padding: 5px 20px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #2386c8;
  }
  &:focus {
    outline: none;
  }

  
}